.gpd-cnt{
  padding:0;
}
#ikmsv{
  max-width:500px;
}
#i9n4g{
  padding:12px 24px 12px 24px;
}
.\31 23{
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.\32 221{
  width:100%;
  padding:9px 12px 9px 12px;
  border-radius:6px 6px 6px 6px;
  color:#000000;
}
#select{
  width:100%;
  margin:12px 0 0 0;
}
#kirim{
  width:80%;
  margin:12px 10% 0 10%;
  padding:9px 6px 9px 6px;
  border-radius:9px 9px 9px 9px;
}
#i2m3a{
  display:none;
}
#i884q{
  display:none;
}
